.app {
    &__container {
        margin-left: 300px;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        background-color: rgba(227, 175, 3, 0.99);
        color: #FFFFFF;
    }
}
